# Python
BACKEND/venv/
__pycache__/
*.pyc

# Django
db.sqlite3

# 🔥 Modelo (IMPORTANTÍSIMO)
BACKEND/backend/predictor/model/

# Cache del modelo
BACKEND/backend/cache/

# Node
node_modules/

# Angular
.angular/
dist/

# VSCode
.vscode/

# Env
.env